*::-webkit-input-placeholder {
	color: #808285;
	opacity: 1;
}
*:-moz-placeholder {
	color: #808285;
	opacity: 1;
}
*::-moz-placeholder {
	color: #808285;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #808285;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #58595B;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.billbord {
	position: relative;
}
.billbord-swiper {
	width: 100%;
	height: 100vh;
}
.image-billbord {
	height: 100vh;
	display: block;
}
.billbord-swiper,
.image-billbord {
	min-height: 500px;
}
.image-billbord img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.wrapper-swiper {
	top: 140px;
	bottom: 140px;
	left: 147px;
	z-index: 10;
	position: absolute;
	padding: 0px 0;
	border-left: 1px solid #BECCD5;
}
.wrapper-swiper::after,
.wrapper-swiper::before {
	position: absolute;
	display: block;
	content: " ";
	width: 33px;
	height: 1px;
	right: 100%;
	top: 0;
	background-color: #BECCD5;
}
.wrapper-swiper::after {
	bottom: 0;
	top: auto;
}
.vertical-menagement .swiper-wrapper,
.vertical-swiper .swiper-wrapper {
	display: block;
}
.vertical-menagement .swiper-slide,
.vertical-swiper .swiper-slide {
	height: initial;
	flex: 1;
	display: flex;
	align-items: center;
	width: 100% !important;
}
.vertical-menagement .swiper-slide:last-child .title-slide,
.vertical-swiper .swiper-slide:last-child .title-slide {
	margin-bottom: 0;
}
.title-slide {
	font-size: 24px;
	line-height: 29px;
	padding-left: 35px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
.title-slide::before {
	position: absolute;
	display: block;
	content: " ";
	width: 33px;
	height: 1px;
	top: 0;
	bottom: 0;
	right: 100%;
	margin: auto;
	background-color: #F03D41;
}
.title-slide::after {
	position: absolute;
	display: block;
	content: " ";
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 9px;
	height: 12px;
	background-image: url(../img/triangle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	opacity: 0;
	transition: all 0.3s;
}
.swiper-slide-thumb-active .title-slide::after {
	opacity: 1;
}
.vertical-menagement .swiper-wrapper,
.vertical-swiper .swiper-wrapper {
	display: block;
	transform: none !important;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.swiper.vertical-menagement,
.swiper.vertical-swiper {
	height: 100%;
	overflow: visible;
}
.lines {
	position: absolute;
	top: 0px;
	bottom: 0;
	right: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.lines span {
	width: 33px;
	height: 1px;
	background-color: #BECCD5;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 50px;
	height: 50px;
	margin-right: 43px;
	background: #B1CFE9;
	border-radius: 8px;
	padding-top: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 20;
	cursor: pointer;
	transition: all 0.3s;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 20px;
	height: 2px;
	display: block;
	background-color: #144071;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 20px;
	height: 2px;
	display: block;
	background-color: #144071;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 16px;
	width: 20px;
	height: 2px;
	display: block;
	background-color: #144071;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 6px;
	width: 30px;
	transform: rotate(-45deg);
}
/*End Sandwich*/
.header {
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	color: #fff;
}
.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__left {
	margin-right: 90px;
	display: flex;
	align-items: center;
}
.list-laguage {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	display: flex;
	align-items: center;
}
.list-laguage li {
	padding-bottom: 4px;
	position: relative;
}
.list-laguage li::after {
	margin: 0 15px;
	content: "|";
}
.list-laguage li:last-child::after {
	display: none;
}
.list-laguage li.active a {
	border-bottom: 1px dotted #fff;
}
.list-laguage li a {
	color: #fff;
}
.logo-wrap {
	text-align: center;
}
.logo {
	display: inline-block;
}
.logo img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.logo-descr {
	font-size: 13px;
	line-height: 16px;
	padding-top: 9px;
}
.contacts-line {
	display: flex;
	align-items: center;
}
.phone-main {
	font-weight: 700;
	color: #fff;
}
.btn-social {
	font-size: 18px;
	margin-left: 15px;
	display: inline-block;
}
.btn-call {
	width: 50px;
	height: 50px;
	background: #B1CFE9;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sandwich:hover,
.btn-call:hover {
	background-color: #90b6d7;
}
.contacts-line .btn-call {
	margin-left: 28px;
}
.container-fluid {
	padding: 0 100px;
}
.about {
	padding-top: 90px;
	padding-bottom: 130px;
	background-color: rgba(236, 246, 255, 0.5);
	background-image: url(../img/bg_about.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%;
}
.about p {
	margin-bottom: 20px;
}
.title-section {
	font-size: 45px;
	line-height: 58px;
	font-weight: 700;
	color: #144071;
}
.about .title-section {
	padding-bottom: 50px;
}
.consultation {
	background-color: #144071;
	color: #fff;
}
.consultation .title-section {
	padding-top: 52px;
	padding-bottom: 25px;
	color: #B1CFE9;
}
.image-consultation {
	margin-top: -49px;
}
.descr-big {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
}
.consultation .descr-big {
	max-width: 694px;
	margin-bottom: 49px;
}
.descr-big a {
	font-weight: 700;
	color: #fff;
}
.item-form {
	margin-bottom: 18px;
	position: relative;
}
.item-form select {
	opacity: 0;
}
.item-form .jqselect {
	display: block !important;
	width: 100%;
}
.item-form .jq-selectbox__select-text,
.item-form textarea,
.item-form input {
	height: 60px;
	font-size: 14px;
	line-height: 17px;
	padding: 0 22px;
	font-weight: 400;
	font-family: 'Lato';
	color: #58595B;
	background: #FFFFFF;
	box-shadow: 0px 7px 7px rgba(85, 96, 114, 0.2);
	border-radius: 6px;
	border: none;
	width: 100%;
}
.item-form .jq-selectbox__select-text {
	display: flex;
	align-items: center;
	cursor: pointer;
	text-align: left;
}
.jq-selectbox__trigger {
	width: 15px;
	height: 9px;
	top: 0;
	right: 20px;
	cursor: pointer;
	bottom: 0;
	margin: auto;
	background-image: url(../img/select.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	transition: all 0.3s; 
	position: absolute;
}
.jqselect.opened .jq-selectbox__trigger {
	transform: rotate(180deg);
}
.jq-selectbox__dropdown {
	width: 100%;
	font-size: 14px;
	border-radius: 6px;
	text-align: left;
	color: #58595B;
	background-color: #fff;
}
.jq-selectbox__dropdown li {
	padding: 0 22px;
	cursor: pointer;
}
.item-form textarea {
	padding-top: 18px;
	height: 115px;
	resize: none;
}
.btn-main {
	height: 60px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	color: #fff;
	background-color: #F03D41;
	border-radius: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Lato';
	border: none;
	transition: all 0.3s;
	cursor: pointer;
}
.btn-main:hover {
	background-color: #d4171c;
}
.consultation .btn-main {
	padding: 0 10px;
	width: 100%;
}
.consultation .item-form {
	margin-bottom: 0;
}
.checkbox {
	font-size: 12px;
	line-height: 14px;
	margin-top: 30px;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 8px 0 0 30px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #fff;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #fff;
	font-size: 9px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox-wrap .checkbox {
	white-space: nowrap;
}
.consultation__left {
	padding-left: 90px;
}
.footer {
	padding-top: 46px;
	background-color: #0D2B4D;
	color: #fff;
}
.footer__nav {
	font-size: 14px;
	font-weight: 500;
}
.footer__nav li {
	margin-bottom: 15px;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.footer__nav a:hover {
	color: #F03D41;
	border-color: #F03D41;
}
.footer__title {
	margin-bottom: 20px;
	font-weight: 700;
}
.social-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-list li {
	padding: 0 10px;
}
.footer .social-list {
	padding-top: 44px;
}
.footer__nav_big {
	font-size: 16px;
	font-weight: 700;
}
.mail-main {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}
.footer .contacts-line {
	margin: 15px 0;
}
.col__footer {
	padding-left: 90px;
}
.footer__contacts {
	width: 254px;
}
.footer-bottom {
	padding: 19px 0;
	font-size: 14px;
	line-height: 21px;
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.5);
	border-top: 1px solid rgba(177, 207, 233, 0.2);
}
.footer-bottom a {
	color: rgba(255, 255, 255, 0.5);
}
.footer-bottom a:hover {
	color: rgba(255, 255, 255, 1);
}
.create {
	display: flex;
	align-items: center;
}
.create img {
	margin-left: 30px;
}
.footer-bottom__wrap {
	display: flex;
	align-items: center;
}
.copyright,
.create {
	margin-left: 100px;
}
.footer__title i {
	display: none;
}
.title-mobilie {
	display: none;
}
.swiper-pagination-bullet {
	background-color: #fff;
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
	right: 18px;
}
.logo-wrap .contacts-line {
	display: none;
}

.billbord-page {
	padding-top: 116px;
	min-height: 100vh;
	color: #fff;
	background-image: url(../img/billbord2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.content-billbord {
	height: calc(100vh - 220px);
	min-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.billbord-page .title-big {
	padding-bottom: 50px;
}
.breadcrumbs {
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.breadcrumbs a {
	color: #58595B;
}
.billbord-page .breadcrumbs a {
	color: #fff;
}
.title-big {
	font-size: 70px;
	line-height: 84px;
	font-weight: 800;
}
.billbord-page .descr-big {
	line-height: 29px;
}
.billbord-page .descr-big {
	max-width: 600px;
	padding-bottom: 88px;
}
.descr-min {
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
}
.billbord-page .descr-min {
	padding-bottom: 18px;
	max-width: 230px;
}
.billbord-page .btn-main {
	min-width: 280px;
	flex: none;
}
.about_page .title-section {
	font-size: 40px;
	line-height: 56px;
}
.management {
	padding-top: 65px;
	padding-bottom: 75px;
	background-color: #144071;
	color: #fff;
}
.management .title-section {
	color: #fff;
}
.vertical-menagement .title-slide {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: rgba(236, 246, 255, 0.7);
}
.vertical-menagement .title-slide span {
	border-bottom: 1px solid rgba(236, 246, 255, 0.7);
	transition: all 0.3s;
}
.vertical-menagement .lines span {
	width: 14px;
}
.wrapper-swiper-management {
	border-left: 1px solid #BECCD5;
}
.swiper.vertical-menagement {
	height: 650px;
}
.vertical-menagement .title-slide:hover,
.vertical-menagement .swiper-slide-thumb-active .title-slide {
	color: #fff;
}
.vertical-menagement .title-slide:hover span,
.vertical-menagement .swiper-slide-thumb-active .title-slide span {
	border-color: transparent;
}
.management .descr-big {
	padding-bottom: 45px;
}
.title-section + .descr-big {
	padding-top: 20px;
}
.management-swiper {
	background-color: #1B4577;
}
.management-swiper .swiper-slide {
	padding: 22px 53px;
	padding-bottom: 40px;
	line-height: 22px;
	box-sizing: border-box;
}
.title-middle {
	font-size: 30px;
	line-height: 37px;
	font-weight: 700;
}
.management-swiper .title-middle {
	padding-bottom: 26px;
}
.management-swiper p {
	margin-bottom: 20px;
}
.consultation_page {
	padding-top: 15px;
	background-color: #1b4577;
}
.consultation_page .descr-big {
	font-size: 20px;
	line-height: 28px;
	max-width: 790px;
}
.consultation_page .descr-big a {
	font-size: 24px;
	line-height: 34px;
}
.consultation_page .image-consultation {
	margin-top: 0;
}
.consultation_page .consultation__left {
	padding-left: 60px;
}
.descr-big p {
	margin-bottom: 15px;
}
.descr-big p:last-child {
	margin-bottom: 0;
}
.consultation_page .btn-main {
	max-width: 250px;
}
.advantages {
	padding-top: 50px;
	padding-bottom: 65px;
}
.advantages .descr-big {
	padding-bottom: 55px;
	max-width: 1146px;
}
.advantages-swiper {
	color: #fff;
	background-color: #144071;
}
.advantages-wrap {
	display: flex;
}
.image-advantage {
	flex: 1;
	height: 450px;
	position: relative;
}
.content-advantage::before {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: -220px;
	height: 100%;
	width: 1000px;
	background-color: #144071;
	z-index: -1;
	pointer-events: none;
	transform: skew(35deg);
}
.image-advantage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.content-advantage {
	width: 510px;
	margin-right: calc((100% - 1470px)/2);
	padding-top: 84px;
	position: relative;
	z-index: 1;
}
.title-block {
	font-size: 45px;
	line-height: 58px;
	font-weight: 700;
}
.descr-middle {
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
}
.content-advantage .title-block {
	padding-bottom: 34px;
}
.content-advantage .descr-middle {
	max-width: 390px;
	margin-bottom: 65px;
}
.btn-main_page {
	height: 44px;
	font-size: 14px;
	line-height: 17px;
	font-weight: 700;
	color: #144071;
	background: #B1CFE9;
	border-radius: 8px;
}
.btn-main_page:hover {
	background-color: #8cb6db;
}
.controls-swiper {
	bottom: 100%;
	margin-bottom: 40px;
	right: 0;
	z-index: 3;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.controls-swiper .swiper-arrow {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	opacity: 1;
	border: 1px solid #FFFFFF;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: none;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
}
.controls-swiper .swiper-arrow:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.controls-swiper .swiper-arrow::after {
	display: none !important;
}
.swiper-arrow.swiper-button-prev {
	background-image: url(../img/prev.svg);
}
.swiper-arrow.swiper-button-next {
	margin-left: 20px;
	background-image: url(../img/next.svg);
}
.container_controls {
	position: relative;
}
.nav-slider {
	margin-top: 60px;
	border-bottom: 1px solid #BECCD5;
	overflow: visible;
}
.nav-slider .lines {
	width: 100%;
	left: 0;
	right: auto;
	flex-direction: row;
}
.nav-slider .lines span {
	height: 14px;
	width: 1px;
}
.number-slide {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	color: #B1CFE9;
	padding-bottom: 52px;
	transition: all 0.3s;
	cursor: pointer;
	position: relative;
}
.number-slide::after {
	position: absolute;
	display: block;
	content: " ";
	top: 100%;
	width: 14px;
	height: 10px;
	left: -6px;
	background-image: url(../img/triangle2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	opacity: 0;
	transition: all 0.3s;
}
.swiper-slide-thumb-active .number-slide::after {
	opacity: 1;
}
.nav-slider .lines span:first-child {
	height: 33px;
	background-color: #F03D41;
}
.nav-slider .swiper-slide:not(:last-child) .lines span:last-child {
	opacity: 0;
}
.swiper-slide-thumb-active .number-slide {
	color: #144071;
}
.partners-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.partners-wrap img {
	max-width: 100%;
	height: auto;
}
.item-partner {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.partners__left {
	padding: 75px 15px;
	z-index: 1;
}
.partners__left::after {
	position: absolute;
	display: block;
	content: " ";
	right: 0;
	width: 1000px;
	height: 100%;
	top: 0;
	background: rgba(177, 207, 233, 0.9);
	z-index: -1;
	transform: skew(35deg);
}
.block-form {
	padding: 30px 67px;
	padding-bottom: 45px;
	color: #fff;
	background-color: #144071;
	text-align: center;
}
.questions .block-form {
	margin-right: -140px;
}
.title-form {
	font-size: 36px;
	line-height: 40px;
	padding-bottom: 10px;
	font-weight: 700;
}
.descr-form {
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 32px;
	font-weight: 700;
}
.block-form .btn-main {
	width: 100%;
	margin-top: 8px;
}
.block-form .checkbox {
	margin-top: 22px;
}
.questions {
	padding: 65px 0;
	background: rgba(236, 246, 255, 0.5);
}
.questions .title-section {
	padding-bottom: 50px;
}
.item-question {
	border-bottom: 1px solid rgba(20, 64, 113, 0.3);
}
.item-question:first-child {
	border-top: 1px solid rgba(20, 64, 113, 0.3);
}
.item-question__head {
	font-size: 30px;
	line-height: 34px;
	padding: 23px 0;
	padding-right: 15px;
	color: #144071;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-question__head i {
	font-size: 14px;
	margin-left: 20px;
	transition: all 0.3s;
}
.item-question__content {
	padding-right: 25px;
	padding-bottom: 20px;
	padding-top: 10px;
	display: none;
}
.item-question__content p {
	margin-bottom: 15px;
}
.item-question.active .item-question__head i {
	transform: rotate(180deg);
}
.consultation .descr-big a {
	white-space: nowrap;
}

.billbord-rent {
	color: #fff;
	background-image: url(../img/billbord_rent.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.billbord-rent::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) -5.1%, rgba(0, 0, 0, 0.155) 17.21%);
}
.billbord-rent .content-billbord {
	padding-top: 187px;
	height: 100vh;
	justify-content: flex-start;
	position: relative;
	z-index: 10;	
}
.plane-billbord {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scale(1) translate(0, -50%);
	transition: all 6s;
	animation: plane 6s;
	transition-timing-function: linear;
}
@keyframes plane {
	from {
		transform: scale(0.2);
		transform-origin: 0 100%;
	}
	to {
		transform: scale(1) translate(0, -50%);
	}
}
.billbord-rent .title-big {
	padding-bottom: 16px;
}
.billbord-rent .form-rent {
	margin-top: auto;
	width: 100%;
	position: relative;
	z-index: 2;
}
.form-rent {
	padding: 30px 26px;
	background: #1B4577;
	border-radius: 10px 10px 0px 0px;
}
.wrap-form {
	display: flex;
}
.icon-input {
	width: 48px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
}
.form-rent .item-form {
	flex: 1;
	margin-right: 3px;
}
.form-rent .item-form input {
	padding-right: 50px;
}
.form-rent .btn-main {
	margin-left: 23px;
	padding: 0 39px;
}
.btn-add {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	color: #fff;
	padding: 0;
	border: none;
	background-color: transparent;
	display: inline-flex;
	align-items: center;
}
.btn-add span {
	padding-bottom: 4px;
	border-bottom: 1px dotted #fff;
	transition: all 0.3s;
}
.btn-add:hover span {
	border-color: transparent;
}
.btn-add img {
	margin-right: 14px;
}
.about_rent img {
	max-width: 100%;
	margin-bottom: 23px;
}
.about_rent .row > div:nth-child(even) img {
	margin-top: 35px;
}
.prices {
	color: #fff;
	background-color: #144071;
}
.prices .title-section {
	padding-top: 65px;
	padding-bottom: 45px;
	max-width: 700px;
	color: #fff;
}
.table-main table {
	font-weight: 500;
	width: 100%;
	border-spacing: 0;
}
.value-td {
	display: flex;
	align-items: center;
}
.value-td img {
	margin-right: 15px;
}
.price-td {
	font-size: 18px;	
	font-weight: 700;
}
.link-page {
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 7px;
	display: inline-block;
	font-weight: 600;
	color: #B1CFE9;
	border-bottom: 1px dotted #B1CFE9;
}
.table-main table td {
	padding: 18px 0;
	border-bottom: 1px solid rgba(190, 204, 213, 0.4);
}
.table-main table td:first-child {
	width: 350px;
}
.prices .table-main table th {
	padding: 24px 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	border-bottom: 1px solid rgba(190, 204, 213, 0.4);
	text-align: left;
}
.prices .table-main {
	margin-bottom: 40px;
	margin-right: 40px;
}
.sidebar-news {
	margin-right: -170px;
	padding-top: 65px;
	min-height: 100%;
	position: relative;
	z-index: 1;
}
.sidebar-news::before {
	position: absolute;
	display: block;
	content: " ";
	width: 1000px;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #1b4577;
	z-index: -1;
	pointer-events: none;
}
.title-sidebar {
	font-size: 36px;
	line-height: 58px;
	font-weight: 700;
}
.sidebar-news .title-sidebar {
	padding-left: 30px;
	padding-bottom: 30px;
}
.item-news {
	padding: 33px 40px;
	padding-bottom: 45px;
	border-bottom: 1px solid rgba(190, 204, 213, 0.4);
	display: block;
	color: #fff;
	position: relative;
}
.item-news::after {
	position: absolute;
	display: block;
	content: " ";
	width: 12px;
	height: 13px;
	bottom: 19px;
	right: 0;
	background-image: url(../img/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.item-news__date {
	font-size: 14px;
	margin-bottom: 20px;
	color: #B1CFE9;
	display: block;
}
.item-news__title {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
	font-weight: 700;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-news__text {
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.slider-news .slick-arrow {
	font-size: 15px;
	width: 20px;
	height: 20px;
	color: #fff;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 15px;
	transform: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-news .slick-next {
	bottom: 15px;
	top: auto;
}
.slider-news .slick-arrow::before {
	position: absolute;
	display: block;
	content: " ";
	width: 384px;
	height: 190px;
	background: linear-gradient(0deg, #1B4577 5.58%, rgba(27, 69, 119, 0) 132.38%);
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	z-index: -1;
	pointer-events: none;
}
.slider-news .slick-prev::before {
	top: 0px;
	background: linear-gradient(180deg, #1B4577 5.58%, rgba(27, 69, 119, 0) 132.38%);
	bottom: auto;
}
.slider-news .slick-arrow.slick-disabled {
	visibility: hidden;
}
.rent-plane {
	padding-top: 153px;
	background-image: url(../img/bg_rent.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.rent-plane .title-big {
	padding-bottom: 35px;
	color: #144071;
}
.rent-plane .descr-big {
	max-width: 500px;
	color: #1B4577;
}
.rent-plane .form-rent {
	margin-top: 180px;
}
.billbord-page_rent {
	min-height: 685px;
	background-image: url(../img/billbord_rentspares.jpg);
}
.billbord-page_rent .descr-big {
	max-width: 730px;
}
.billbord-page_rent .form-rent {
	width: 100%;
}
.billbord-page_rent .title-big {
	margin-top: auto;
}
.title-rent {
	font-size: 36px;
	line-height: 58px;
	margin-bottom: 15px;
	font-weight: 700;
	color: #B1CFE9;
	margin-top: auto;
}
.billbord-page_rent .content-billbord {
	height: calc(100vh - 120px);
	justify-content: flex-start;
	position: relative;
	z-index: 10;
}
.about-info {
	font-size: 20px;
	line-height: 28px;
	padding: 44px 210px;
	padding-right: 179px;
	margin-top: 50px;
	font-weight: 600;
	max-width: 1148px;
	color: #fff;
	background-color: #1B4577;
	background-image: url(../img/logo_info.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-blend-mode: luminosity;
}
.about-info p {
	margin: 0;
}
.about-bottom {
	margin-top: 60px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}
.about-bottom__image img {
	max-width: 100%;
	height: auto;
}
.about-bottom__image {
	margin-right: 77px;
}
.about-bottom__text {
	max-width: 469px;
}
.about_spares {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: transparent;
	background-image: none;
	position: relative;
}
.about_spares::after,
.about_spares::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-image: url(../img/about_spares.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: auto 100%;
	pointer-events: none;
}
.about_spares::after {
	height: 60%;
	background-image: none;
	background: rgba(236, 246, 255, 0.5);
	z-index: -1;
}
.form-rent_spares .btn-main {
	min-width: 180px;
	margin-left: 0;
}
.form-rent_spares .checkbox {
	margin-top: 0;
}
.inquiry {
	padding-top: 31px;
	color: #fff;
	background-image: url(../img/bg_inquiry.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.image-inquiry img {
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}
.row_page {
	margin: 0 -9px;
}
.row_page > div {
	padding: 0 9px;
}
.inquiry .btn-main {
	width: 100%;
}
.inquiry .checkbox {
	margin-top: 16px;
}
.inquiry .title-section {
	margin-bottom: 25px;
	color: #B1CFE9;
}
.descr-section {
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
}
.inquiry .descr-section {
	margin-bottom: 30px;
}
.contact-inquiry {
	font-size: 20px;
	line-height: 34px;
}
.contact-inquiry .phone-main {
	font-size: 26px;
	margin-left: 15px;
	line-height: 34px;
	font-weight: 700;
}
.contact-inquiry .mail-main {
	font-size: 24px;
	border-bottom: 1.5px solid #fff;
}
.contact-inquiry .mail-main:hover {
	border-color: transparent;
}
.inquiry .row_page {
	margin-top: 40px;
}
.btn-social {
	color: #fff;
}
.contact-inquiry .btn-social {
	margin-left: 25px;
	font-size: 24px;
}
.advantages-page {
	padding: 50px 0;
	background: rgba(236, 246, 255, 0.5);
}
.item-advantage {
	font-size: 18px;
	padding: 41px 43px;
	padding-top: 0;
	text-align: center;
	min-height: 100%;
	background-color: #fff;
}
.item-advantage__icon {
	width: 93px;
	height: 93px;
	background: #FFFFFF;
	box-shadow: 0px 10px 15px rgba(177, 207, 233, 0.3);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	top: -44px;
	margin-bottom: -15px;
	position: relative;
}
.item-advantage__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-advantage .descr-big {
	font-weight: 700;
	margin-bottom: 16px;
	color: #144071;
}
.row_avd > div {
	margin-top: 65px;
}
.advantages-page .title-section {
	padding-bottom: 15px;
}
.slider-partners .slick-track {
	display: flex !important;
	align-items: center;
}
.slider-partners .slick-slide {
	height: inherit !important;
}
.slider-sertificats .slick-arrow,
.slider-partners .slick-arrow {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid rgba(177, 207, 233, 0.9);
	background-color: #fff;
	color: #0077BE !important;
	top: 50%;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.slider-sertificats .slick-arrow:hover,
.slider-partners .slick-arrow:hover {
	background-color: #0077BE;
	color: #fff !important;
}
.slider-sertificats .slick-arrow::before,
.slider-partners .slick-arrow::before {
	display: none;
}
.slider-partners .slick-prev {
	left: 0;
}
.slider-partners .slick-next {
	right: 0;
}
.slider-partners {
	padding: 0 60px;
	margin-left: 20px;
}
.slide-partner {
	display: block;
}
.slide-partner img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.scale {
	margin-top: 52px;
	border-bottom: 1px solid #BECCD5;
	display: flex;
}
.scale__item {
	position: relative;
	top: 1px;
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.scale__mark {
	height: 14px;
	width: 1px;
	background-color: #BECCD5;
}
.scale__item:first-child .scale__mark:first-child,
.scale__mark:last-child {
	height: 33px;
	background-color: #F03D41;
}
.scale__item:not(:first-child) .scale__mark:first-child {
	opacity: 0;
}
.form-rent_spares .item-form input {
	padding-right: 20px;
}
.billbord-page_maintence {
	background-image: url(../img/billbord_maintence.jpg);
}
.billbord-page_maintence .title-big {
	max-width: 931px;
}
.billbord-page_maintence .descr-big {
	max-width: 869px;
}
.services {
	padding-top: 54px;
	padding-bottom: 80px;
	color: #fff;
	background: #144071;
}
.services .title-section {
	padding-bottom: 15px;
	color: #fff;
}
.item-service {
	font-size: 18px;
	color: #58595B;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	background-color: #fff;
}
.item-service__image {
	height: 310px;
	display: block;
	width: 100%;
	flex: none;
}
.item-service__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-service__content {
	padding: 32px 49px;
	padding-right: 30px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-service .descr-big {
	margin-bottom: 20px;
	font-weight: 700;
	display: block;
	width: 100%;
	color: #144071;
}
.item-service .link-page {
	margin-left: auto;
	margin-top: auto;
	color: #0077BE;
	border-color: transparent;
}
.item-service p {
	margin-bottom: 22px;
}
.row_services > div {
	margin-top: 30px;
}
.inquiry-maintence {
	padding-top: 120px;
	padding-bottom: 69px;
	color: #fff;
	background-image: url(../img/inquiry_maintence.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.inquiry-maintence .title-section {
	color: #fff;
}
.inquiry-maintence .btn-main {
	width: 100%;
}
.inquiry-maintence .checkbox {
	margin-top: 0;
}
.about_maintenace {
	background-image: url(../img/bg_about2.png);
	background-color: #fff;
}
.wrapper_page {
	padding-top: 104px;
}
.header_page {
	padding: 20px 0;
	color: #333333;
	background-color: #fff;
	box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}
.header_page .list-laguage li a {
	color: #333;
}
.header_page .list-laguage li.active a {
	border-color: #333;
}
.header_page .phone-main {
	color: #333;
}
.header_page .btn-social {
	color: #333;
}
.about_sertificats {
	padding-top: 0 !important;
	background-image: url(../img/bg_about3.png);
	background-color: #fff;
}
.breadcrumbs_page {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #828282;
}
.breadcrumbs_page a,
.breadcrumbs_page li::after {
	color: #333;
}
.sertificats-section .about-info {
	top: -63px;
	margin-bottom: 30px;
	padding-right: 47px;
	margin-top: 0;
	position: relative;
}
.sertificats-section {
	padding-bottom: 108px;
	background: rgba(236, 246, 255, 0.5);
	position: relative;
	z-index: 1;
}
.slider-sertificats {
	margin: 0 -16px;
}
.item-sertificat {
	height: 636px;
	margin: 0 16px;
	display: block;
	position: relative;
	z-index: 1;
}
.item-sertificat > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-sertificat__content {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	padding: 25px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1B4577;
	opacity: 0;
	transition: all 0.3s;
	background-image: url(../img/logo_info.png);
	background-repeat: no-repeat;
	background-position: right -10px bottom 15px;
	background-blend-mode: luminosity;
}
.item-sertificat__title {
	font-size: 22px;
	line-height: 31px;
	margin-bottom: 30px;
	color: #fff;
	font-weight: 700;
	display: block;
	width: 100%;
}
.item-sertificat__descr {
	display: block;
}
.item-sertificat:hover .item-sertificat__content {
	opacity: 1;
}
.slider-sertificats .slick-prev {
	left: -35px;
}
.slider-sertificats .slick-next {
	right: -35px;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 10px;
	height: 10px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	background-color: #1B4577;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 0.4;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	opacity: 1;
}
#map {
	height: 596px;
	width: 100%;
	background-color: #ddd;
}
.title-contact {
	font-size: 24px;
	line-height: 34px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-weight: 700;
	color: #4F4F4F;
}
.title-contact:first-of-type {
	padding-top: 0;
}
.value-contact {
	line-height: 19px;
	padding: 4px 0;
	padding-left: 31px;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
	display: block;
	color: #333;
}
.value-contact img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.contacts .title-section {
	padding-bottom: 65px;
}
.contacts__social .value-contact {
	padding-left: 40px;
}
.value-contact_fb img {
	left: 5px;
}
.contacts .block-form {
	margin-bottom: -60px;
	position: relative;
	z-index: 3;
}
.about_main {
	padding-top: 0 !important;
}
.about_main ~ .consultation {
	position: relative;
	z-index: 2;
}
.row_vacancies > div {
	margin-top: 40px;
}
.item-vacancy {
	font-size: 18px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #fff;
	color: #333;
	box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
	transition: all 0.3s;
}
.item-vacancy:hover {
	box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.4);
}
.item-vacancy__image {
	height: 310px;
	display: block;
	flex: none;
	width: 100%;
}
.item-vacancy__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-vacancy__content {
	padding: 31px 30px;
	padding-bottom: 34px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
}
.item-vacancy__head {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.item-vacancy .descr-big {
	font-weight: 700;
	color: #144071;
}
.price-main {
	font-size: 24px;
	line-height: 34px;
	font-weight: 700;
	color: #4F4F4F;
}
.item-vacancy p {
	margin-bottom: 15px;
}
.item-vacancy .link-page {
	color: #0077BE;
	border-color: #0077BE;
	margin-left: auto;
	margin-top: auto;
}
.item-service .link-page:hover,
.item-vacancy .link-page:hover {
	border-color: transparent;
}
.vacancies {
	padding-bottom: 100px;
}
.modal-block {
	display: none;
}
.modal-wrap {
	padding: 55px 70px;
	padding-bottom: 75px;
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;
	color: #333333;
}
.fancybox-skin {
	padding: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}
.fancybox-close {
	top: 15px;
	right: 15px;
	width: 55px;
	height: 55px;
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.fancybox-inner {
	overflow: visible !important;
}
.file-upload input {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	padding: 0;
}
.file-upload label {
	color: #F2F2F2;
	cursor: pointer;
	font-weight: 400;
	display: inline-flex;
	align-items: center;
}
.file-upload label i {
	font-size: 22px;
	margin-right: 11px;
}
.file-upload label img {
	margin-right: 14px;
}
.file-upload {
	margin-bottom: 7px;
	text-align: left;
}
.name-upload {
	font-size: 12px;
}
.modal-wrap .title-middle {
	margin-bottom: 35px;
	color: #144071;
}
.modal-wrap .descr-big {
	margin-bottom: 30px;
}
.title-min {
	font-size: 18px;
	font-weight: 700;
}
.text-modal .title-min {
	margin-bottom: 20px;
	color: #333333;
}
.text-modal strong {
	color: #333;
}
.text-modal li,
.text-modal p {
	margin-bottom: 20px;
}
.text-modal li {
	padding-left: 20px;
	position: relative;
}
.text-modal li::before {
	content: "•";
	top: 0px;
	left: 0px;
	position: absolute;
}
.text-modal {
	font-size: 18px;
	color: #58595B;
	max-height: 620px;
	overflow: auto;
}
.text-modal::-webkit-scrollbar {
	-webkit-appearance: none;
}
.text-modal::-webkit-scrollbar:vertical {
	width: 5px;
}
.text-modal::-webkit-scrollbar:horizontal {
	height: 5px;
}
.text-modal::-webkit-scrollbar-thumb {
	background-color: #144071;
	border-radius: 10px;
}
.text-modal::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #E0E0E0;
}
.modal-wrap .title-form {
	font-size: 28px;
	line-height: 34px;
}
.wrap-block-form {
	max-width: 315px;
	margin: 0 auto;
}

.article .unit-news {
	margin-bottom: 40px;
	min-height: initial;
}
.article__left {
	font-size: 18px;
}
.article__left li,
.article__left p {
	margin-bottom: 20px;
}
.article__left li {
	padding-left:30px;
	position: relative;
}
.article__left li::before {
	content: "•";
	top: -1px;
	left: 10px;
	position: absolute;
}
.article__left h2 {
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 30px;
	font-weight: 700;
	color: #144071;
}
.article__left img {
	margin-bottom: 40px;
	max-width: 100%;
	height: auto;
}
.article__left blockquote {
	padding: 36px 80px;
	padding-right: 57px;
	margin: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	color: #fff;
	background: #1B4577;
	position: relative;
}
.article__left blockquote p {
	margin: 0;
}
.article__left blockquote::before {
	position: absolute;
	display: block;
	content: " ";
	width: 5px;
	left: 40px;
	top: 24px;
	bottom: 24px;
	background-color: #fff;
}
.article {
	padding-bottom: 80px;
}
.article__left p strong {
	font-weight: 600;
}
.article__left .date-news {
	font-size: 16px;
	color: #144071;
}
.article__left .date-news img {
	margin: 0;
	margin-right: 10px;
}
.article .title-section {
	margin-bottom: 40px;
	max-width: 95%;
}
.big-news {
	padding: 30px;
	height: 556px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	color: #fff;
	z-index: 1;
}
.big-news__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
}
.big-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.big-news__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.title-news {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 20px;
	font-weight: 700;
	display: block;
	width: 100%;
	color: #fff;
}
.date-news {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}
.date-news img {
	margin-right: 10px;
}
.big-news p {
	margin-bottom: 20px;
}
.simple-news .link-page,
.big-news .link-page {
	color: #fff;
	border-color: #fff;
}
.simple-news .link-page:hover,
.big-news .link-page:hover {
	border-color: transparent;
}
.news-page .title-section {
	padding-bottom: 40px;
	font-weight: 700;
}
.simple-news {
	padding: 30px;
	padding-right: 80px;
	height: 260px;
	margin-bottom: 36px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #1b4577;
	color: #fff;
}
.simple-news .link-page {
	margin-top: auto;
}
.unit-news {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	background-color: #fff;
	box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}
.unit-news__image {
	height: 310px;
	width: 100%;
	display: block;
	flex: none;
}
.unit-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.unit-news__content {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
}
.unit-news .title-news {
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 15px;
	color: #144071;
}
.unit-news  p {
	margin-bottom: 25px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.unit-news .link-page {
	color: #0077BE;
	border-color: #0077BE;
	margin-top: auto;
}
.unit-news .link-page:hover {
	border-color: transparent;
}
.unit-news .date-news {
	margin-bottom: 20px;
}
.row_news > div {
	margin-bottom: 30px;
}
.pager {
	font-size: 18px;
	line-height: 28px;
	height: 38px;
	margin-top: 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	color: #828282;
	margin: 0 5px;
	transition: all 0.3s;
}
.page-numbers.current {
	color: #144071;
}
.page-numbers:not(.dots):hover {
	color: #144071;
}
.prev.page-numbers,
.next.page-numbers {
	font-size: 26px;
	width: 38px;
	height: 38px;
	color: #0D2B4C;
	border: 1px solid #0D2B4C;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	color: #fff;
	background-color: #0D2B4C;
}
.next.page-numbers {
	right: 0;
	left: auto;
}
.news-page {
	padding-bottom: 100px;
}