/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1740px) {
	.questions .block-form {
		margin-right: -90px;
		margin-left: -30px;
		padding-left: 60px;
		padding-right: 60px;
	}
	.item-question {
		margin-right: 30px;
	}
	.sidebar-news {
		margin-right: -90px;
		margin-left: -30px;
	}
	.slider-news .slick-arrow::before {
		width: 340px;
	}
	.item-news {
		padding: 25px;
		padding-bottom: 35px;
	}
	.sidebar-news .title-sidebar {
		padding-left: 25px;
	}
	.title-sidebar {
		font-size: 33px;
		line-height: 45px;
	}
	.plane-billbord {
		transform: scale(0.7) translate(0, -35%);
	}
	@keyframes plane {
		from {
			transform: scale(0.2);
			transform-origin: 0 100%;
		}
		to {
			transform: scale(0.7) translate(0, -35%);
		}
	}
	.form-rent .btn-main {
		margin-left: 15px;
		padding: 0 25px;
	}
	.about_rent {
		font-size: 14px;
		line-height: 21px;
		background-position: right -30px center;
	}
	.about_rent .row > div:nth-child(even) img {
		margin-top: 20px;
	}
	.menu-dropdown {
		padding-left: 60px;
	}
}
@media only screen and (max-width : 1700px) {
	.wrapper-swiper {
		top: 140px;
		bottom: 60px;
		left: 80px;
	}
	.title-slide {
		font-size: 18px;
		line-height: 29px;
		padding-left: 20px;
	}
	.container-fluid {
		padding: 0 40px;
	}
	.col__footer {
		padding-left: 0;
	}
	.footer__center {
		margin-left: -110px;
	}
	.billbord-page .title-big {
		padding-bottom: 30px;
	}
	.billbord-page .descr-big {
		padding-bottom: 50px;
	}
	.content-billbord {
		height: calc(100vh - 140px);
	}
	.title-big {
		font-size: 63px;
		line-height: 75px;
	}
	.questions .block-form {
		margin-right: -55px;
		margin-left: -65px;
	}
	.item-question {
		margin-right: 70px;
	}
	.item-question__head {
		font-size: 27px;
		line-height: 32px;
	}
	.partners__left::after {
		margin-right: -30px;
	}
	.about_rent {
		padding-top: 50px;
		padding-bottom: 70px;
		background-position: right -48px center;
	}
	.sidebar-news {
		margin-right: -55px;
		margin-left: -65px;
	}
	.prices .table-main {
		margin-right: 80px;
	}
	.table-main table td:first-child {
		width: 320px;
	}

	/*new*/
	.rent__right {
		padding: 50px 60px;
	}
	.row_big > div {
		padding: 0 25px;
	}
	.row_big {
		margin: 0 -25px;
	}
	.vertical-rent .title-slide {
		padding-left: 50px;
	}
	.rent__left {
		width: 300px;
	}
	.image-vertical  {
		max-width: 250px;
	}
.menu-dropdown {
		padding-left: 30px;
	}
}



@media only screen and (max-width : 1600px) {
	.about p {
		margin-bottom: 15px;
	}
	.about .title-section {
		padding-bottom: 25px;
	}
	.about {
		padding-top: 55px;
		padding-bottom: 64px;
	}
	.copyright, .create {
		margin-left: 45px;
	}
	body {
		font-size: 15px;
		line-height: 25px;
	}
	.about_page .title-section {
		font-size: 35px;
		line-height: 51px;
	}
	.billbord-page .descr-big {
		padding-bottom: 30px;
	}
	.title-big {
		font-size: 57px;
		line-height: 66px;
	}
	.title-middle {
		font-size: 26px;
		line-height: 33px;
	}
	.management-swiper .swiper-slide {
		padding: 22px 30px;
	}
	.consultation_page .title-section {
		font-size: 39px;
		line-height: 40px;
	}
	.descr-big {
		font-size: 20px;
		line-height: 30px;
	}
	.advantages .descr-big {
		padding-bottom: 35px;
	}
	.content-advantage {
		padding-top: 55px;
		width: 510px;
		margin-right: calc((100% - 1300px)/2);
	}
	.content-advantage .descr-middle {
		margin-bottom: 40px;
	}
	.image-advantage {
		height: 380px;
	}
	.content-advantage::before {
		left: -150px;
	}
	.partners-wrap {
		padding-left: 30px;
	}
	.questions .block-form {
		margin-right: -30px;
		margin-left: -80px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.item-question {
		margin-right: 80px;
	}
	.item-question__head {
		font-size: 24px;
	}
	.title-form {
		font-size: 33px;
		line-height: 36px;
	}
	.descr-form {
		font-size: 16px;
		line-height: 21px;
		padding-bottom: 25px;
	}
	.title-sidebar {
		font-size: 28px;
		line-height: 37px;
	}
	.sidebar-news {
		margin-right: -30px;
		margin-left: -80px;
	}
	.slider-news .slick-arrow::before {
		width: 294px;
	}
	.about-info {
		font-size: 16px;
		line-height: 25px;
		padding: 44px 210px;
		padding-right: 110px;
		max-width: 945px;
	}
	.about_spares::before {
		right: -100px;
	}
	.image-inquiry {
		margin-top: 70px;
	}
	.slider-partners {
		margin-left: 35px;
	}
	.item-advantage {
		font-size: 17px;
	}
	.billbord-page_rent {
		min-height: initial;
	}
	.about_maintenace .title-section {
		font-size: 40px;
		line-height: 50px;
	}
	.about_sertificats {
		padding-bottom: 90px;
	}
	.item-sertificat {
		height: 579px;
	}
	.sertificats-section .about-info {
		margin-bottom: 0;
	}
	.sertificats-section {
		padding-bottom: 80px;
	}
	.contacts .block-form {
		padding-left: 60px;
		padding-right: 60px;
	}
	.modal-wrap .title-form {
		font-size: 26px;
		line-height: 32px;
	}
	.text-modal {
		max-height: 613px;
	}
	.unit-news .title-news {
		font-size: 20px;
		line-height: 33px;
	}
	.unit-news__image {
		height: 280px;
	}
	.big-news {
		height: 500px;
	}
	.simple-news {
		padding: 30px;
		height: 237px;
		margin-bottom: 25px;
	}

	/*new*/
	.advantages-page_equipment .item-advantage {
		font-size: 15px;
	}
	.advantages-page_equipment .descr-big {
		max-width: 950px;
		margin-bottom: 10px;
	}
	.row_consultation {
		margin: 0 -15px;
	}
	.row_consultation > div {
		padding: 0 15px;
	}
	.consultation-equipment .descr-big {
		max-width: 550px;
	}
	.equipments .item-service__image {
		height: 360px;
	}
	.row_equipment {
		margin: 0 -20px;
	}
	.row_equipment > div {
		padding: 0 20px;
	}
	.col_contacts {
		padding-left: 50px;
	}
	.menu-dropdown {
		padding-left: 60px;
	}
}
@media only screen and (max-width : 1400px) {
	.descr-big {
		font-size: 20px;
		line-height: 33px;
	}
	.consultation .descr-big {
		max-width: 630px;
		margin-bottom: 30px;
	}
	.image-consultation img {
		max-width: 320px;
	}
	body {
		font-size: 14px;
		line-height: 23px;
	}
	.title-section {
		font-size: 40px;
		line-height: 55px;
	}
	.title-slide {
		font-size: 16px;
		line-height: 26px;
	}
	.wrapper-swiper {
		top: 105px;
		bottom: 25px;
	}
	.footer__nav_big {
		font-size: 14px;
	}
	.questions .block-form {
		margin-right: 0;
	}
	.title-form {
		font-size: 28px;
		line-height: 30px;
	}
	.descr-form {
		font-size: 15px;
	}
	.content-advantage {
		margin-right: calc((100% - 1170px)/2);
	}
	.footer__contacts {
		width: initial;
		margin-left: -20px;
	}
	.item-question__head {
		font-size: 20px;
		line-height: 30px;
	}
	.consultation_page .descr-big {
		font-size: 18px;
		line-height: 26px;
	}
	.consultation_page .descr-big a {
		font-size: 20px;
		line-height: 32px;
	}
	.consultation_page .title-section {
		font-size: 34px;
		line-height: 34px;
	}
	.vertical-menagement .title-slide {
		font-size: 16px;
	}
	.about_page .title-section {
		font-size: 31px;
		line-height: 45px;
	}
	.plane-billbord {
		transform: scale(0.5) translate(-20%, -40%);
	}
	@keyframes plane {
		from {
			transform: scale(0.2);
			transform-origin: 0 100%;
		}
		to {
			transform: scale(0.5) translate(-20%, -40%);
		}
	}
	.sidebar-news {
		margin-right: 0;
	}
	.slider-news .slick-arrow::before {
		width: 248px;
	}
	.rent-plane .form-rent {
		margin-top: 120px;
	}
	.rent-plane {
		padding-top: 110px;
	}
	.title-rent {
		font-size: 30px;
		line-height: 45px;
	}
	.about_spares::before {
		right: -190px;
	}
	.about-bottom__image {
		margin-right: 30px;
	}
	.about-bottom__image img {
		max-width: 400px;
	}
	.inquiry .descr-section {
		margin-bottom: 18px;
	}
	.contact-inquiry {
		font-size: 17px;
		line-height: 31px;
	}
	.contact-inquiry .phone-main {
		font-size: 21px;
		margin-left: 13px;
	}
	.contact-inquiry .btn-social {
		margin-left: 20px;
		font-size: 21px;
	}
	.contact-inquiry .mail-main {
		font-size: 20px;
	}
	.inquiry .row_page {
		margin-top: 24px;
	}
	.image-inquiry {
		margin-top: 90px;
	}
	.item-advantage {
		font-size: 16px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.item-service {
		font-size: 16px;
	}
	.about_maintenace .title-section {
		font-size: 35px;
		line-height: 47px;
	}
	.about_sertificats {
		padding-bottom: 35px;
	}
	.sertificats-section .about-info {
		top: -30px;
		margin-bottom: 20px;
	}
	.item-sertificat {
		height: 505px;
	}
	.slider-sertificats .slick-prev {
		left: -10px;
	}
	.slider-sertificats .slick-next {
		right: -10px;
	}
	.item-sertificat__title {
		font-size: 17px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	.item-sertificat__content {
		font-size: 16px;
	}
	.contacts .block-form {
		padding-left: 30px;
		padding-right: 30px;
	}
	.item-vacancy {
		font-size: 16px;
	}
	.price-main {
		font-size: 20px;
	}
	.item-vacancy__image {
		height: 280px;
	}
	.text-modal {
		font-size: 16px;
		max-height: 580px;
	}
	.modal-wrap .title-form {
		font-size: 22px;
		line-height: 27px;
	}
	.modal-wrap .block-form {
		padding-left: 50px;
		padding-right: 50px;
	}
	.vacancies {
		padding-bottom: 70px;
	}
	.title-news {
		font-size: 21px;
		line-height: 32px;
	}
	.unit-news__image {
		height: 253px;
	}
	.unit-news__content {
		padding: 20px;
	}
	.unit-news .title-news {
		font-size: 18px;
		line-height: 30px;
	}
	.article__left {
		font-size: 16px;
	}

	/*new*/
	.rent__right {
		padding: 30px;
	}
	.wrapper-swiper-rent {
		padding: 40px 0;
	}
	.image-swiper-rent {
		height: 370px;
	}
	.row_big > div {
		padding: 0 15px;
	}
	.row_big {
		margin: 0 -15px;
	}
	.item-parametr {
		padding-left: 35px;
	}
	.equipments .item-service__image {
		height: 305px;
	}
	.item-fleet .table-main table th {
		padding: 15px 10px;
	}
	.item-fleet .table-main table td:first-child {
		width: 205px;
	}
	.slider-images__item {
		height: 395px;
	}
	.modal-fleet__right {
		padding-left: 44px;
	}
	.modal-fleet .title-section {
		font-size: 30px;
	}
	.col_contacts {
    padding-left: 20px;
}
.menu > li > a {
    font-size: 20px;
    line-height: 32px;
    }
    .menu-dropdown {
    	padding-left: 80px;
    }
    .menu ul li {
    margin-top: 25px;
}
.menu > li {
    margin-bottom: 28px;
}
.col_contacts .social-list {
	margin-top: 75px;
}
.col_contacts .logo {
    margin-bottom: 80px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.title-section {
		font-size: 31px;
		line-height: 38px;
	}
	.about {
		background-position: right -200px center;
	}
	.descr-big {
		font-size: 19px;
		line-height: 28px;
	}
	.image-consultation img {
		max-width: 280px;
	}
	.row_consultation {
		margin: 0 -7px;
	}
	.row_consultation > div {
		padding: 0 7px;
	}
	.consultation__left {
		padding-left: 0;
	}
	.image-consultation {
		margin-left: -90px;
	}
	.consultation .title-section {
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.footer__contacts {
		width: 210px;
	}
	.footer-bottom {
		font-size: 13px;
	}
	.about_page .title-section {
		font-size: 25px;
		line-height: 34px;
	}
	.consultation_page .consultation__left {
		padding-left: 0;
	}
	.consultation_page .title-section {
		font-size: 30px;
		line-height: 30px;
	}
	.item-partner {
		padding: 5px;
	}
	.questions .title-section {
		padding-bottom: 30px;
	}
	.questions {
		padding: 50px 0;
	}
	.plane-billbord {
		transform: scale(0.4) translate(-30%, -40%);
	}
	@keyframes plane {
		from {
			transform: scale(0.1);
			transform-origin: 0 100%;
		}
		to {
			transform: scale(0.4) translate(-30%, -40%);
		}
	}
	.billbord-rent .content-billbord {
		padding-top: 125px;
	}
	.wrap-form {
		flex-wrap: wrap;
	}
	.form-rent .btn-main {
		width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.table-main table td:first-child {
		width: 190px;
	}
	.price-td {
		font-size: 16px;
	}
	.slider-news .slick-arrow::before {
		width: 240px;
	}
	.item-news__title {
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 13px;
	}
	.item-news__date {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.sidebar-news {
		margin-right: -35px;
	}
	.rent-plane .form-rent {
		margin-top: 60px;
	}
	.rent-plane {
		padding-top: 75px;
	}
	.rent-plane .title-big {
		padding-bottom: 18px;
	}
	.title-rent {
		font-size: 25px;
		line-height: 33px;
	}
	.billbord-page_rent .title-big {
		font-size: 45px;
		line-height: 55px;
	}
	.about-info {
		margin-top: 10px;
		position: relative;
		z-index: 1;
	}
	.descr-section {
		font-size: 16px;
		line-height: 23px;
	}
	.inquiry .title-section {
		margin-bottom: 10px;
	}
	.image-inquiry {
		margin-top: 140px;
	}
	.item-service__image {
		height: 265px;
	}
	.item-service__content {
		padding: 22px 20px;
	}
	.inquiry-maintence {
		padding-top: 80px;
		padding-bottom: 45px;
	}
	.about_maintenace .title-section {
		font-size: 29px;
		line-height: 40px;
	}
	.logo-descr {
		padding-top: 0;
	}
	.header_page {
		padding: 12px 0;
	}
	.wrapper_page {
		padding-top: 79px;
	}
	.breadcrumbs_page {
		padding: 20px 0;
	}
	.item-sertificat {
		height: 400px;
	}
	.title-contact {
		font-size: 21px;
		line-height: 30px;
		padding-bottom: 10px;
	}
	.item-vacancy__content {
		padding: 25px 20px;
	}
	.price-main {
		font-size: 18px;
	}
	.item-vacancy__image {
		height: 240px;
	}
	.modal-wrap {
		padding: 35px 30px;
	}
	.fancybox-close {
		top: 10px;
		right: 10px;
		width: 35px;
		height: 35px;
	}
	.modal-wrap .block-form {
		padding-left: 25px;
		padding-right: 25px;
	}
	.news-page .title-section {
		padding-bottom: 20px;
	}
	.simple-news {
		padding: 20px;
	}
	.title-news {
		font-size: 19px;
		line-height: 28px;
	}
	.unit-news__image {
		height: 210px;
	}
	.news-page {
		padding-bottom: 60px;
	}
	.article__left h2 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 25px;
	}

	/*new*/
	.image-swiper-rent {
		height: 300px;
	}
	.vertical-rent .title-slide {
		font-size: 12px;
		padding-left: 15px;
		height: 135px;
	}
	.rent__left {
		width: 230px;
	}
	.image-vertical {
		max-width: 170px;
	}
	.rent__right {
		padding: 30px 15px;
	}
	.rent-bottom__buttons {
		padding-right: 20px;
	}
	.row_big {
		margin: 0 -7px;
	}
	.row_big > div {
		padding: 0 7px;
	}
	.item-parametr {
		font-size: 13px;
	}
	.item-plane {
		width: 49%;
	}
	.equipment-about .title-section {
		margin-bottom: 35px;
		max-width: 722px;
	}
	.row_equipment {
		margin: 0 -15px;
	}
	.row_equipment > div {
		padding: 0 15px;
	}
	.equipment-about {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.equipments .item-service__image {
		height: 240px;
	}
	.equipments {
		padding-top: 45px;
		padding-bottom: 75px;
	}
	.tabs a {
		font-size: 18px;
	}
	.item-fleet__head {
		font-size: 18px;
		padding: 15px 22px;
		padding-right: 17px;
	}
	.modal-fleet__top {
		padding: 50px 25px;
	}
	.modal-fleet__right {
		padding-left: 20px;
	}
	.modal-fleet .title-section {
		font-size: 26px;
	}
	.slider-images__item {
		height: 320px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__left .list-laguage {
		display: none;
	}
	.header__left,
	.sandwich {
		margin-right: 0;
	}
	.header__wrap .contacts-line .phone-main,
	.header__wrap .contacts-line .btn-social {
		display: none;
	}
	.contacts-line .btn-call {
		margin-left: 0;
	}
	.header {
		padding-top: 10px;
	}
	.container-fluid {
		padding: 0 25px;
	}
	.wrapper-swiper {
		left: 50px;
	}
	.about {
		background-image: none;
	}
	.about {
		padding-top: 35px;
		padding-bottom: 50px;
	}
	.image-consultation {
		display: none;
	}
	.consultation {
		padding-bottom: 35px;
	}
	.footer__center {
		margin-left: 0;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.col_logo {
		order: -1;
	}
	.col__footer {
		padding-left: 15px;
	}
	.footer__nav_big a,
	.footer__title {
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #fff;
	}
	.footer__title,
	.footer__nav_big li {
		margin: 0;
	}
	.footer__contacts {
		width: 100%;
		margin-left: 0;
	}
	.footer .social-list {
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.footer {
		padding-top: 25px;
	}
	.create img {
		margin-left: 15px;
	}
	.footer-bottom {
		border: none;
	}
	.footer__title i {
		font-size: 11px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.consultation__left {
		padding-left: 15px;
	}
	.footer__nav a:hover {
		color: #fff;
		border-color: #fff;
	}
	.partners__left::after {
		display: none;
	}
	.partners__left {
		padding: 0 15px;
	}
	.nav-slider {
		margin-top: 20px;
	}
	.advantages-wrap {
		display: block;
	}
	.descr-big {
		font-size: 16px;
		line-height: 26px;
	}
	.consultation_page .descr-big {
		font-size: 16px;
		line-height: 26px;
	}
	.consultation_page .descr-big a {
		font-size: 18px;
		line-height: 29px;
	}
	.consultation_page .descr-big {
		max-width: 100%;
	}
	.wrapper-swiper-management {
		display: none;
	}
	.management {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.about {
		padding-bottom: 30px;
	}
	.title-big {
		font-size: 50px;
		line-height: 60px;
	}
	.content-advantage {
		padding: 30px 15px;
		margin: 0;
		width: 100%;
		box-sizing: border-box;
	}
	.partners-wrap {
		padding-left: 0;
	}
	.item-question {
		margin-right: 0;
	}
	.questions .block-form {
		margin: 0;
		margin-top: 30px;
	}
	.image-advantage {
		height: 295px;
	}
	.title-block {
		font-size: 40px;
		line-height: 50px;
	}
	.content-advantage .title-block {
		padding-bottom: 20px;
	}
	.advantages .descr-big {
		padding-bottom: 25px;
	}
	.advantages {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.management .descr-big {
		padding-bottom: 25px;
	}
	.consultation_page .consultation__left {
		padding-left: 15px;
	}
	.content-advantage::before {
		display: none;
	}
	.billbord-rent .descr-big {
		margin-bottom: 40px;
	}
	.billbord-rent .content-billbord {
		min-height: 600px;
	}
	.form-rent .item-form {
		width: calc(50% - 8px);
		flex: none;
		margin:0 4px;
		margin-bottom: 18px;
	}
	.form-rent .btn-main {
		margin:0 4px;
		width: calc(50% - 8px);
	}
	.prices .table-main {
		margin-right: 0;
	}
	.table-main table th {
		font-size: 16px;
		padding: 15px 0;
	}
	.plane-billbord {
		transform: scale(0.3) translate(-80%, -100%);
	}
	@keyframes plane {
		from {
			transform: scale(0.05);
			transform-origin: 0 100%;
		}
		to {
			transform: scale(0.3) translate(-80%, -100%);
		}
	}
	.sidebar-news {
		margin: 0;
		padding: 0;
	}
	.sidebar-news::before {
		left: -300px;
		width: 1500px;
	}
	.sidebar-news .title-sidebar {
		padding-left: 0;
	}
	.slider-news .slick-arrow::before {
		width: 218px;
	}
	.slider-news .slick-arrow {
		top: 40%;
		left: -20px;
		right: auto;
		margin: auto;
		transform: rotate(-90deg);
		bottom: auto;
	}
	.slider-news .slick-next {
		right: -20px;
		left: auto;
	}
	.item-news__title {
		font-size: 15px;
		line-height: 21px;
	}
	.item-news {
		padding: 10px;
		padding-bottom: 45px;
		border: none;
	}
	.management-swiper .swiper-pagination {
		display: block !important;
	}
	.partners {
		padding-top: 30px;
	}
	.billbord-page_rent .title-big {
		font-size: 38px;
		line-height: 45px;
		margin-top: 20px;
		padding-bottom: 20px;
	}
	.title-rent {
		font-size: 22px;
		line-height: 29px;
	}
	.form-rent_spares .checkbox {
		margin-top: 15px;
	}
	.billbord-page_rent .content-billbord {
		height: initial;
	}
	.about_spares::before {
		display: none;
	}
	.about-info {
		font-size: 14px;
		line-height: 24px;
		padding: 22px 170px;
		padding-right: 20px;
		background-position: left -28px center;
	}
	.about-bottom {
		margin-top: 35px;
	}
	.about-bottom__image img {
		max-width: 350px;
		margin-bottom: 0;
	}
	.about_rent {
		padding-bottom: 50px;
	}
	.image-inquiry {
		margin-top: 0;
		display: none;
	}
	.image-inquiry img {
		max-width: 200px;
	}
	.inquiry {
		padding-bottom: 40px;
	}
	.advantages-page .title-section {
		text-align: center;
		padding-bottom: 0;
	}
	.slider-partners {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.services .title-section {
		padding-bottom: 0;
	}
	.item-service {
		font-size: 14px;
		min-height: initial;
	}
	.services {
		padding-top: 35px;
		padding-bottom: 52px;
	}
	.inquiry-maintence .title-section {
		padding-bottom: 25px;
	}
	.inquiry-maintence {
		padding-top: 35px;
		padding-bottom: 40px;
	}
	.item-advantage {
		min-height: initial;
	}
	.item-sertificat {
		margin: 0 7px;
		height: 310px;
	}
	.slider-sertificats {
		margin: 0 -7px;
	}
	.item-sertificat__content {
		font-size: 14px;
		padding: 15px;
		background-size: 70px auto;
		background-position: right 5px bottom 15px;
	}
	.item-sertificat__title {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 13px;
	}
	.contacts .title-section {
		padding-bottom: 30px;
	}
	.value-contact {
		margin-bottom: 13px;
	}
	.contacts .block-form {
		margin: 20px 0;
		margin-bottom: 30px;
	}
	#map {
		height: 370px;
	}
	.modal-wrap .title-middle {
		margin-bottom: 20px;
	}
	.modal-wrap .descr-big {
		margin-bottom: 15px;
	}
	.text-modal li, .text-modal p {
		margin-bottom: 15px;
	}
	.text-modal {
		font-size: 14px;
		max-height: 390px;
		margin-bottom: 25px;
	}
	.title-min {
		font-size: 16px;
	}
	.text-modal .title-min {
		margin-bottom: 12px;
	}
	.item-vacancy__image {
		height: 300px;
	}
	.row_vacancies > div {
		margin-top: 25px;
	}
	.big-news {
		margin-bottom: 25px;
	}
	.simple-news {
		height: auto;
	}
	.simple-news .title-news {
		margin-bottom: 30px;
	}
	.unit-news__image {
		height: 280px;
	}
	.row_news > div {
		margin-bottom: 25px;
	}
	.pager {
		font-size: 16px;
		margin-top: 15px;
	}
	.article .title-section {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.article__left img {
		margin-bottom: 20px;
	}
	.article .unit-news {
		margin-bottom: 25px;
	}
	.article {
		padding-bottom: 40px;
	}
	.advantages + .partners {
		padding-top: 0;
	}

	/*new*/ 
	.rent {
		display: block;
	}
	.rent__left {
		width: 100%;
	}
	.item-parametr {
		font-size: 14px;
	}
	.rent-bottom__buttons {
		padding: 0 20px;
		padding-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}
	.vertical-rent .swiper-wrapper {
		display: flex;
		flex-direction: row;
	}
	.wrapper-swiper-rent {
		padding-bottom: 0;
	}
	.vertical-rent .swiper-slide {
		text-align: center;
		width: 200px;
	}
	.wrapper-swiper-rent {
		border: none;
		border-bottom: 1px solid #BECCD5;
	}
	.image-swiper-rent {
		height: 245px;
	}
	.vertical-rent .title-slide {
		font-size: 13px;
		padding-left: 0;
		padding-bottom: 30px;
		height: auto;
	}
	.image-vertical {
		position: relative;
		top: 0;
		left: 0;
	}
	.vertical-rent .lines {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.vertical-rent .lines span {
		width: 1px;
		height: 14px;
	}
	.vertical-rent .title-slide::after {
		transform: rotate(90deg);
		transform-origin: 0;
		left: 9px;
		right: 0;
		bottom: -6px;
		top: auto;
	}
	.vertical-rent .title-slide {
		text-align: center;
		justify-content: center;
	}
	.vertical-rent .title-slide::before {
		height: 20px;
		width: 1px;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 0;
		top: auto;
	}
	.row_equipment > div:nth-child(even) {
		padding-top: 0;
	}
	.equipment-about img {
		margin: 20px 0;
	}
	.equipments .title-section {
		padding-bottom: 0;
	}
	.bottom-form-rent .checkbox-mobile {
		position: relative;
	}
	.bottom-form-rent {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
	}
	.slider-images__item {
		height: 400px;
	}
	.modal-fleet__right {
		padding-left: 15px;
		padding-top: 20px;
	}
	.menu-dropdown {
    padding-left: 0;
}
.col_menu {
	padding-top: 0;
}
.menu-dropdown {
	padding-top: 80px;
	height: 100vh;
	overflow: auto;
	padding-bottom: 80px;
}
.menu > li {
	margin: 0;
}
.menu > li > a {
    font-size: 16px;
    line-height: 28px;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul li {
    margin-top: 15px;
}
.menu ul a {
	display: block;
}
.menu ul {
	display: none;
}
.col_contacts .logo {
	display: none;
}
.col_contacts {
	padding-top: 20px;
	padding-left: 15px;
	border: none;
}
.col_contacts .social-list {
	margin-top: 25px;
}
.menu__haschild > a::after {
	font-size: 12px;
	margin-left: 10px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	content: "\f078";
	top: 0px;
	position: relative;
	transition: all 0.3s;
}
.menu__haschild.active > a::after {
	transform: rotate(180deg);
}
.header {
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: all 0.3s;
}
.header.fixed {
	    background: #144071;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container-fluid {
		padding: 0 15px;
	}
	.header .logo img {
		max-width: 159px;
	}
	.header .logo-descr {
		font-size: 12px;
		line-height: 15px;
		padding-top: 2px;
		display: none;
	}
	.logo-wrap .contacts-line {
		display: flex;
	}
	.logo-wrap .contacts-line .phone-main,
	.logo-wrap .contacts-line .btn-social {
		display: inline-block;
		margin: 0;
	}
	.title-slide {
		max-width: 230px;
	}
	.logo-wrap .contacts-line .phone-main {
		margin: 0 13px;
	}
	.wrapper-swiper {
		left: 25px;
		right: 0;
		bottom: 60px;
	}
	.sandwich {
		width: 35px;
		height: 35px;
		padding-top: 7px;
	}
	.btn-call {
		width: 35px;
		height: 35px;
	}
	.sandwich span {
		width: 14px;
		height: 1.4px;
	}
	.sw-bottom {
		top: 9px;
	}
	.sw-footer {
		top: 14px;
	}
	.wrapper-swiper::after, 
	.wrapper-swiper::before,
	.title-slide::before,
	.lines {
		display: none;
	}
	.billbord .swiper-pagination {
		display: none;
	}
	.title-slide {
		padding-left: 30px;
		line-height: 22px;
	}
	.vertical-swiper .swiper-slide {
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.vertical-swiper .swiper-slide-thumb-active {
		background: rgba(20, 64, 113, 0.7);
	}
	.billbord-swiper, .image-billbord {
		min-height: 455px;
		height: calc(100vh - 40px);
	}
	.descr-big {
		font-size: 15px;
		line-height: 25px;
	}
	.consultation .item-form {
		margin-bottom: 20px;
	}
	.checkbox {
		margin-top: 20px;
	}
	.checkbox-mobile {
		display: flex;
		justify-content: center;
	}
	.footer-bottom__wrap {
		padding-bottom: 15px;
		flex-direction: column;
	}
	.copyright {
		margin: 15px 0;
	}
	.copyright, .create {
		margin-left: 0;
	}
	.title-mobilie {
		padding: 20px 15px;
		font-size: 16px;
		text-align: center;
		font-weight: 700;
		color: #fff;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		display: block;
	}
	.title-big {
		font-size: 36px;
		line-height: 43px;
	}
	.billbord-page .title-big {
		padding-bottom: 18px;
	}
	.about_page .title-section {
		font-size: 22px;
		line-height: 32px;
	}
	.title-middle {
		font-size: 22px;
		line-height: 29px;
	}
	.management-swiper .swiper-slide {
		padding: 22px 15px;
		padding-bottom: 40px;
	}
	.consultation_page .title-section {
		padding-bottom: 0;
	}
	.consultation_page .btn-main {
		max-width: initial;
	}
	.controls-swiper {
		margin-bottom: 25px;
		padding-right: 15px;
	}
	.nav-slider .lines {
		display: flex;
	}
	.nav-slider {
		display: none;
	}
	.partners {
		padding-bottom: 30px;
	}
	.partners .title-section {
		padding-bottom: 20px;
	}
	.questions {
		padding-top: 30px;
	}
	.item-question__content {
		padding-right: 0;
	}
	.item-question__head {
		padding: 15px 0;
		padding-right: 10px;
		font-size: 16px;
		line-height: 24px;
	}
	.billbord-page {
		padding-top: 93px;
		position: relative;
		z-index: 1;
	}
	.image-billbord {
		position: relative;
		z-index: 1;
	}
	.image-billbord.show-mob::before,
	.billbord-page::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: -1;
	}
	.image-billbord.show-mob::before {
		z-index: 0;
	}
	.content-billbord {
		padding-bottom: 40px;
	}
	.management-swiper p {
		margin-bottom: 15px;
	}
	.hidden-mob {
		display: none;
	}
	.billbord-rent .descr-big {
		max-width: 300px;
	}
	.form-rent {
		padding: 15px 10px;
	}
	.billbord-rent .content-billbord {
		min-height: 700px;
	}
	.about_rent .row > div:nth-child(even) img {
		margin-top: 0;
	}
	.prices .title-section {
		padding-top: 35px;
		padding-bottom: 25px;
	}
	.table-main::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.table-main::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.table-main::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.table-main::-webkit-scrollbar-thumb {
		background-color: #98b8d5;
		border-radius: 10px;
	}
	.table-main::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #fff;
	}
	.table-main {
		margin-right: -15px !important;
		overflow: auto;
	}
	.table-main table {
		width: 700px;
	}
	.table-main table td {
		padding: 14px 0;
	}
	.slider-news .slick-next {
		right: -10px;
	}
	.slider-news .slick-prev {
		left: -10px;
	}
	.slider-news .slick-arrow::before {
		height: 50px;
	}
	.rent-plane {
		padding-top: 35px;
		background-position: 60% 50%;
	}
	.rent-plane .title-big {
		padding-bottom: 5px;
	}
	.plane-billbord {
		animation: none;
		transform: scale(0.2) translate(-160%, -180%);
	}
	@keyframes plane {
		from {
			transform: scale(0.05);
			transform-origin: 0% 16%;
		}
		to {
			transform: scale(0.2) translate(-160%, -180%);
		}
	}
	.billbord-rent .content-billbord {
		min-height: initial;
		padding-bottom: 0;
		height: initial;
	}
	.jq-selectbox__trigger {
		right: 12px;
	}
	.about-info {
		padding: 30px 20px;
		background-image: none;
	}
	.about-info::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-image: url(../img/logo_info.png);
		background-repeat: no-repeat;
		background-position: center;
		background-color: #1B4577;
		opacity: 0.5;
		background-blend-mode: luminosity;
	}
	.about-bottom {
		display: block;
	}
	.about-bottom__image {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.about-bottom__image img {
		max-width: 100%;
	}
	.about_spares {
		padding-bottom: 20px;
	}
	.contact-inquiry {
		font-size: 15px;
		line-height: 30px;
	}
	.contact-inquiry .phone-main {
		font-size: 18px;
		margin-left: 10px;
	}
	.contact-inquiry .btn-social {
		margin-left: 16px;
		font-size: 19px;
	}
	.contact-inquiry .mail-main {
		font-size: 16px;
	}
	.advantages-page {
		padding: 40px 0;
	}
	.scale__item:first-child .scale__mark:first-child, .scale__mark:last-child {
		height: 24px;
	}
	.scale {
		margin-top: 35px;
	}
	.slide-partner {
		padding: 10px;
	}
	.slider-partners {
		margin-bottom: 0;
	}
	.billbord-page_rent .content-billbord {
		min-height: initial;
		padding-bottom: 0;
		height: initial;
	}
	.billbord-page .descr-big {
		line-height: 26px;
	}
	.item-service .descr-big {
		margin-bottom: 13px;
	}
	.inquiry-maintence .title-section {
		text-align: center;
	}
	.inquiry-maintence .checkbox {
		margin-top: 18px;
	}
	.about_maintenace .title-section {
		font-size: 25px;
		line-height: 34px;
	}
	.about_maintenace {
		padding-bottom: 30px;
	}
	.sertificats-section {
		padding-bottom: 50px;
	}
	.slider-sertificats {
		padding-bottom: 30px;
	}
	.contacts .title-section {
		padding-bottom: 20px;
	}
	.title-contact {
		padding-top: 10px;
	}
	.about_main ~ .billbord .wrapper-swiper {
		top: 60px;
	}
	.item-vacancy__image {
		height: 235px;
	}
	.item-vacancy {
		font-size: 14px;
		min-height: initial;
	}
	.modal-wrap {
		padding: 32px 15px;
	}
	.item-vacancy .descr-big {
		font-size: 17px;
	}
	.item-vacancy__head {
		margin-bottom: 12px;
	}
	.big-news {
		padding: 20px;
		height: 450px;
	}
	.unit-news {
		min-height: initial;
	}
	.big-news p {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	.breadcrumbs  {
		flex-wrap: wrap;
	}
	.article__left blockquote {
		padding: 30px 30px;
	}
	.article__left blockquote::before {
		width: 2px;
		left: 15px;
	}
	.article__left li, .article__left p {
		margin-bottom: 15px;
	}
	.article__left h2 {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 15px;
	}
	.wrapper_page {
		padding-top: 73px;
	}

	/*new*/
	.rent-bottom .btn-main {
		margin: 0 5px;
	}
	.row_big > div:not(:first-child) .parametrs-wrap {
		border: none;
		padding-top: 0;
	}
	.rent__right {
		padding: 50px 15px;
	}
	.about_rent {
		padding-bottom: 30px;
	}
	.vertical-rent .swiper-slide {
		width: 170px;
	}
	.vertical-rent .title-slide {
		font-size: 12px;
	}
	.rent-bottom__buttons {
		flex-direction: column;
		padding: 0 15px;
	}
	.rent-bottom .btn-main {
		margin: 0;
		margin-top: 15px;
	}
	.image-vertical {
		margin: 0 10px;
		width: initial;
	}
	.list-planes {
		display: block;
	}
	.item-plane {
		width: 100%;
	}
	.modal-main {
		padding: 30px 15px;
	}
	.item-plane .link-page {
		font-size: 13px;
	}
	.equipment-about .title-section {
		margin-bottom: 0;
	}
	.equipment-about {
		padding-top: 30px;
		padding-bottom: 40px;
		background-image: none;
	}
	.equipments {
		padding-top: 30px;
		padding-bottom: 55px;
	}
	.consultation-equipment .title-section {
		margin-bottom: 0;
	}
	.col_check {
		order: 2;
	}
	.consultation-equipment {
		padding-top: 30px;
		padding-bottom: 45px;
	}
	.advantages-page_equipment .descr-big {
		text-align: center;
	}
	.item-fleet .table-main table {
		width: 1200px;
	}
	.item-fleet .table-main table th {
		font-size: 13px;
	}
	.item-fleet .table-main::-webkit-scrollbar-thumb {
		background-color: #144071;
		border-radius: 10px;
	}
	.item-fleet .table-main::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #ccc;
	}
	.item-fleet__head {
		font-size: 16px;
		padding: 13px 15px;
	}
	.item-fleet__content {
		padding: 10px 15px;
	}
	.tabs a {
		font-size: 16px;
		padding: 8px 0;
	}
	.item-fleet .table-main table th {
		padding-top: 6px;
	}
	.tabs a {
		margin-right: 35px;
	}
	.modal-fleet__top {
		padding: 40px 15px;
	}
	.slider-images__item {
		height: 310px;
	}
	.slider-images {
		padding-bottom: 35px;
	}
	.modal-fleet .title-section {
		font-size: 23px;
		margin-bottom: 10px;
	}
	.sandwich.active .sw-topper {
    top: 10px;
}
.sandwich.active .sw-footer {
    top: 7px;
    }
    .menu-dropdown {
    padding-top: 60px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.title-section {
		font-size: 24px;
		line-height: 32px;
	}
	.about .title-section {
		padding-bottom: 15px;
	}
	.about {
		padding-bottom: 30px;
	}
	.title-big {
		font-size: 31px;
		line-height: 39px;
	}
	.billbord-page .title-big br {
		display: none;

	}
	.billbord-page .title-big {
		padding-bottom: 15px;
	}
	.title-middle {
		font-size: 18px;
		line-height: 26px;
	}
	.management-swiper .title-middle {
		padding-bottom: 15px;
	}
	.consultation_page .title-section {
		font-size: 26px;
	}
	.consultation_page .descr-big {
		font-size: 14px;
		line-height: 24px;
	}
	.consultation_page .descr-big a {
		font-size: 16px;
		line-height: 23px;
	}
	.title-section + .descr-big {
		padding-top: 10px;
	}
	.descr-middle {
		font-size: 16px;
		line-height: 27px;
	}
	.title-block {
		font-size: 32px;
		line-height: 38px;
	}
	.descr-middle {
		font-size: 14px;
		line-height: 24px;
	}
	.content-advantage .descr-middle {
		margin-bottom: 15px;
	}
	.image-advantage {
		height: 220px;
	}
	.questions .block-form {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}
	.questions {
		padding-bottom: 40px;
	}
	.form-rent .item-form {
		width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 18px;
	}
	.form-rent .btn-main {
		width: 100%;
		margin: 0;
		margin-bottom: 18px;
	}
	.form-rent {
		text-align: center;
	}
	.about_rent img {
		margin-bottom: 15px;
	}
	.slider-news .slick-arrow::before {
		display: none;
	}
	.slider-news .slick-arrow {
		width: 40px;
		height: 40px;
		top: 29%;
	}
	.slider-news .slick-prev {
		left: -19px;
	}
	.slider-news .slick-next {
		right: -19px;
	}
	.item-news {
		padding-left: 15px;
		padding-right: 15px;
	}
	.rent-plane .form-rent {
		margin-top: 25px;
	}
	.form-rent {
		padding: 20px 15px;
	}
	.questions .title-section {
		padding-bottom: 20px;
	}
	.plane-billbord {
		display: none;
	}
	.billbord-rent .descr-big {
		max-width: 100%;
	}
	.billbord-rent .descr-big {
		margin-bottom: 20px;
	}
	.link-page {
		padding-bottom: 4px;
	}
	.billbord-page_rent .title-big {
		font-size: 33px;
		line-height: 42px;
	}
	.form-rent_spares .checkbox {
		margin-top: 0;
	}
	.contact-inquiry .phone-main {
		font-size: 16px;
	}
	.contact-inquiry {
		font-size: 13px;
		line-height: 30px;
	}
	.contact-inquiry .btn-social {
		margin-left: 11px;
		font-size: 17px;
	}
	.contact-inquiry .mail-main {
		font-size: 15px;
	}
	.breadcrumbs li::after {
		margin: 0 6px;
	}
	.breadcrumbs {
		font-size: 12px;
		line-height: 16px;
	}
	.billbord-page_maintence .breadcrumbs {
		margin-bottom: 20px;
	}
	.item-service__image {
		height: 232px;
	}
	.item-sertificat {
		height: 229px;
		max-width: 158px;
		margin: 0 auto;
	}
	.sertificats-section .about-info {
		margin-bottom: 0;
	}
	.contacts .block-form {
		padding-left: 20px;
		padding-right: 20px;
	}
	.item-vacancy__image {
		height: 188px;
	}
	.item-vacancy__head {
		display: block;
	}
	.price-main {
		font-size: 16px;
	}
	.item-vacancy .descr-big {
		margin-bottom: 10px;
		display: block;
	}
	.item-vacancy__content {
		padding-top: 20px;
	}
	.vacancies {
		padding-bottom: 50px;
	}
	.modal-wrap .block-form {
		padding-left: 15px;
		padding-right: 15px;
	}
	.modal-wrap .title-form {
		font-size: 19px;
		line-height: 24px;
	}
	.modal-wrap .checkbox-wrap .checkbox {
		white-space: normal;
	}
	.title-news {
		font-size: 17px;
		line-height: 27px;
	}
	.date-news {
		margin-bottom: 15px;
	}
	.unit-news__image {
		height: 240px;
	}
	.unit-news .date-news {
		margin-bottom: 10px;
	}
	.unit-news .title-news {
		font-size: 16px;
		line-height: 26px;
	}
	.unit-news p {
		margin-bottom: 18px;
	}
	.article {
		padding-bottom: 30px;
	}
	.article__left {
		font-size: 14px;
	}
	.article__left h2 {
		font-size: 16px;
		line-height: 25px; 
	}

	/*new*/
	.item-plane__icon {
		width: 40px;
	}
	.item-plane {
		padding-left: 42px;
		font-size: 13px;
	}
	.equipments .item-service__image {
		height: 200px;
	}
	.slider-images__item {
		height: 270px;
	}
	.bottom-form-rent .checkbox {
		margin-top: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.show-mob,
	.swiper-pagination {
		display: none !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu ul,
	.footer__content {
		display: block !important;
	}
	.item-service_big {
		flex-direction: row;
		align-items: initial;
	}
	.item-service_big .item-service__image {
		width: 50%;
	}
	.item-service_big .item-service__content {
		min-height: 100%;
	}

	.vertical-rent .swiper-wrapper {
		display: block;
		transform: none !important;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.vertical-rent .swiper-slide {
		height: initial;
		flex: 1;
		display: flex;
		align-items: center;
		width: 100% !important;
	}
	.vertical-rent .swiper-wrapper {
		display: block;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1470px;
	}
}